@font-face {
    font-family: 'Playwrite DK Uloopet';
    src: local('Playwrite DK Uloopet Regular'), local('PlaywriteDKUloopet-Regular'),
        url('../fonts/PlaywriteDKUloopet-Regular.woff2') format('woff2'),
        url('../fonts/PlaywriteDKUloopet-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

